# Database
POSTGRES_URL=postgresql+asyncpg://pandasai:password123@postgresql:5432/pandasai-db
TEST_POSTGRES_URL=postgresql+asyncpg://pandasai:password123@postgresql:5432/pandasai-db
PANDASAI_API_KEY= "$2a$10$O6VZlOsV6Qf5G.F5u390qOgz2Knf.7iMaNvAu4OegRThltUQyRlwO"
OPENAI_API_KEY= "2c004891dcda491eb12b3a92d910863d"

# Environment
ENVIRONMENT=development
DEBUG=1
SHOW_SQL_ALCHEMY_QUERIES=0
